html{
    background-color:LightGray;
}
#navigationBar{
    list-style-type: none;
    margin:0;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    width:700px;
    height:30px;
}
li{
    float: left;
    text-align:center;
    width: 225px;
    height:20px;
    margin-left:2px;
    margin-right:2px;
    border:2px solid black;
    border-radius:5px;
}
.navLink{
    display:block;
    text-decoration:none;
    color:black;
    background-color:white;
}

#body{
    position:relative;
    padding-left:10px;
    padding-right:10px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    width:676px;
    border:2px solid black;
    border-radius:5px;
   
}
#footer{
    width:700px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#header{
    width:700px;
    margin-left:auto;
    margin-right:auto;
}
#signupToggle{
	text-align:center; 
	display:block;
	width:100px; 
	border: 2px solid black; 
	border-radius:5px;
	padding-left=5px;
	padding-right=5px;
}
#signup{
    visibility:hidden;
    width:0;
    height:0;
}
#loginSignup{
    display:block;
    position:relative;
    width:auto;
    background:white;
    border:2px solid black;
    border-radius:15px;
    text-align:center;
    float:right;
    margin-top:-30px;
}
.closeWindowX{
    margin-top:-25px;
    margin-right:-25px;
    position:relative;
    float:right;
    display:block;
    border:1px solid black;
    border-radius:15px;
    background-color:red;
    width:23px;
    text-align:center;
}
#shader{
    position:fixed;
    opacity:.5;
    background-color:black;
    width:100%;
    height:100%;
    top:0;
    right:0;
    visibility:hidden;
    z-index:1;
}
#userPanel{
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    margin-top:5px;
    position:fixed;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:white;
    border:2px solid black;
    border-radius: 5px;
    width:300;
    height:0;
    z-index:2;
    visibility:hidden;
}